<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item marginLeft10">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item marginLeft10">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item marginLeft10">
          <a class="nav-link" href="#">Pages</a>
        </li>
        <li class="nav-item marginLeft10">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>