.marginLeft35 {
    margin-left: 35px;
}

.marginTop25 {
    margin-top: 25px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginLeft10 {
    margin-left: 10px;
}

.borderRadius15 {
    border-radius: 15px;
}